body {
	background-color: #F3F4F8;
}
#root {
	background-image: url(images/bg.jpg);
    height: 100%;
    color: #1e1e1e;
    min-height: 730px;
    background-repeat: no-repeat;
}
.label-url {
	font-weight: bold;
    font-size: 20px;
}
h2.title {
	margin-bottom: 50px;
    margin-top: 30px;
	font-weight: bold;
	font-size: 40px;
}
.chekcbox {
    margin: 25px 0 5px 0;
}
.form-main {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   position: relative;
}
.hide {
	display: none !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  width:100%;
  margin-top: 20px;
} 

.form-group input {
  width:100%;
  padding: 10px 10px;
  border-radius: 0 !important;
  border: 1px solid #dfe1e5;
} 

.form-group input:hover, 
.form-group input:focus, 
.form-group input:focus-visible {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
	outline: none ! important; 
}

button {
  width:150px;
  height:40px;
  margin: 0 auto;
  color:#fff;
  background: #d6002a;
  border:none;
  cursor: pointer;
  margin-top: 10px;
  
} 
.avialable {
  max-width: 800px;
  margin: 50px auto;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
 
  
}

a.settings {
    background: #d6002a;
    color: #fff;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    right: 0;
    top: 0;
}

tbody {
  height: 400px;
  overflow-y: auto;
}

.avialable td, .avialable th {
	border: 1px solid #dedede;
    padding: 7px 10px;
	width: 265px;
}
.tab-content {
    width: 100%;
}

.avialable td {
   padding: 10px;
} 

form {
  width:100%
}
table {
  height: 400px;
    overflow-y: auto;
    display: block;
}

.chekcbox label {
  margin: 0px 10px 0px 0px;
}


.chekcbox label input {
  margin-right:5px
}


.nav {
    width: 100%;
}
button:hover,
.settings:hover {
    background-color: #ba182b;
}
.modal-dialog button:hover {
    background-color: transparent;
}
.red {
	color: #d6002a;
}

.options {
  margin-top: 20px;
}
